$backgroundColor: #222222;
$color: #9d9d9d;
$hoverTextColor: #fff;
$hoverBackgroundColor: #c25757;
$hoverBackgroundCardColor: #2e2e2e;

$titleFontSize: 35px;
$nameGroupFontSize: 25px;
$regularFontSize: 17px;
$descFontSize: 13px;
